@media (min-width: 300px) {
  .xd {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .xd {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .xd {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 1440px) {
  .xd {
    grid-template-columns: repeat(10, 1fr);
  }
}
