@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #f49924;
    white-space: nowrap;
    margin: 0 auto;
    font-size: 1.5em;
    letter-spacing: .15em;
    animation: typing 1.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #f49924
    }
}