@media (max-width: 600px) {
    .card-3d-wrap {
        width: 98% !important;
    }

    .checkbox:checked+label,
    .checkbox:not(:checked)+label {
        margin-right: 94px !important;
    }
}

.bg-login {
    background-image: url('../../../../assets/images/bg-ulk (1).jpg');
}

.text-flow {
    align-content: end;
    font-family: "Dancing Script", cursive;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    display: none;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin-top: 12px;
    margin-left: auto;
    margin-right: 60px;
    cursor: pointer;
    background-color: #f97316;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #f97316;
    background-color: #292524;
    font-family: 'unicons';
    content: '\eb4f';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;

    transition: all 0.5s ease;
}

.checkbox:checked+label:before {
    transform: translateX(40px) rotate(-270deg);
}

.card-3d-wrap {
    width: 440px;
    height: 520px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-top: 60px;
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #292524;
    position: absolute;
    border-radius: 6px;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    transform: translate3d(0, -50%, 35px) perspective(100px);
}