<div class="h-dvh w-screen flex flex-col">
    <div class="flex flex-1 min-w-0">
        <aside class="bg-stone-800 w-[4.5rem] px-6 pt-6 transition-all" id="aside">
            <app-sidebar></app-sidebar>
        </aside>
        <main class="flex flex-col flex-1 min-w-0" id="mainContent">
            <div class="bg-stone-800 p-2 min-w-0">
                <app-header></app-header>
            </div>
            <div class="bg-stone-900 flex-1 overflow-x-auto p-4">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    <footer class="bg-stone-800 p-0.5 border-t border-zinc-700">
        <app-footer></app-footer>
    </footer>
</div>