<div class="mobile:min-w-max tablet:min-w-max laptop:min-w-0">
    <div class="items-center w-full p-4 bg-stone-800 rounded-lg shadow-md mb-4">
        <div class="mx-auto">

            <div class="flex justify-between w-full items-center">
                <h1 class="font-semibold text-xl">Usuários</h1>

                <mat-form-field appearance="fill" class="w-5/12 custom-mat-form-field">
                    <mat-label>Filtro</mat-label>
                    <input matInput type="text" matTooltip="Filtrar Leituras por palavras chave" [(ngModel)]="filter"
                        #ctrl="ngModel" (keyup)="applyFilter($event)" #fil placeholder="Ex. ulk" class="custom-input">
                    <mat-icon matSuffix (click)="clearFilterReading()" class="text-white">
                        {{ hasText ? 'close' : '' }}
                    </mat-icon>
                </mat-form-field>
            </div>

            <div class="flex flex-col mb-4">
                <div class="table-shadow">
                    <table mat-table [dataSource]="dataSourceUser" matSort class="striped-table">

                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Usuário </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.username
                                }} </td>
                        </ng-container>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Nome </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.name }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Email </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.email }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Telefone </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.phone |
                                phoneMaskPipe }} </td>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Gênero </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{
                                user.getGender() }} </td>
                        </ng-container>
                        <ng-container matColumnDef="kindleMail">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Email Kindle </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{
                                user.kindleMail }} </td>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Permissão </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.roles }} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                class="centered-sorted-header !font-bold"> Status </th>
                            <td mat-cell *matCellDef="let user" class="even-row odd-row !text-center"> {{ user.status }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef disableSort
                                class="centered-sorted-header header-acttion cursor-pointer !font-bold"> Ações </th>
                            <td mat-cell *matCellDef="let request" class="even-row odd-row !text-center">
                                <button mat-icon-button color="primary" matTooltip="Gerenciar Usuário">
                                    <mat-icon>manage_accounts</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Bloquear Usuário">
                                    <mat-icon>person_off</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="Remover Usuário">
                                    <mat-icon class="text-red-600">person_remove</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-darkTheme"></tr>
                        <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="h-14 text-center" colspan="100%">
                                {{ hasText ?
                                'Nenhum registro encontrado para o filtro: '.concat(fil.value) :
                                'Nenhum registro encontrado' }}
                            </td>
                        </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 5, 20, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>