<div class="mobile:p-0 tablet:p-4 space-y-4">
    <h2 mat-dialog-title>{{ action }} Leitura</h2>
    <mat-dialog-content>
        <div class="flex flex-col">

            <mat-form-field>
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="dateControl">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Título</mat-label>
                <input matInput [formControl]="titleControl" [matAutocomplete]="titleAuto" #titleInput>
                <mat-autocomplete #titleAuto="matAutocomplete"
                    (optionSelected)="onBookSelected($event.option.viewValue)">
                    <mat-option *ngFor="let title of filteredTitleOptions | async" [value]="title">
                        {{ title }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Autor</mat-label>
                <input matInput [value]="getAuthorsNames(selectedBook?.authors)" disabled="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Páginas</mat-label>
                <input matInput [value]="selectedBook?.pages" disabled="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Gênero</mat-label>
                <input matInput [value]="selectedBook?.getGenreName()" disabled="true">
            </mat-form-field>

            <table mat-table [dataSource]="dataSourceCategories" class="mat-elevation-z8 mb-6 w-full">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Categorias</th>
                    <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsCategories"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCategories;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="h-14 text-center" colspan="100%">
                        {{ 'Nenhum registro encontrado' }}
                    </td>
                </tr>
            </table>

            <mat-form-field>
                <mat-label>Descrição</mat-label>
                <textarea matInput [value]="selectedBook?.description" disabled="true"></textarea>
            </mat-form-field>

            <mat-label>{{action === 'Excluir' ? 'Leitura' : 'Avalie a sua Leitura'}}</mat-label>
            <div class="flex mt-4">
                <button  mat-icon-button *ngFor="let ratingId of ratingArr; index as i" [id]="'star_' + i"
                    matTooltip="{{ tooltipText(i) }}" (click)="rate(i + 1)" (mouseenter)="onMouseEnter(i + 1)"
                    (mouseleave)="onMouseLeave()" class="gold-star" [disabled]="action === 'Remover'">
                    <mat-icon>
                        {{ showStar(i) }}
                    </mat-icon>
                </button>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-dialog-close mat-raised-button color="warn">Fechar</button>
        <button mat-dialog-close mat-raised-button color="primary" *ngIf="action === 'Remover'" (click)="remover()">Excluir</button>
        <button mat-raised-button color="primary" *ngIf="action !== 'Remover'" (click)="save()">
            {{ editReading ? 'Salvar' : 'Registrar' }}
        </button>
    </mat-dialog-actions>
</div>